extends layout.pug
block append content
  .container.main
    .row
      iframe(
        id="mp-model"
        width="853"
        height="480"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking")

